<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="Template Mo">
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">

  <title>Website Inovasi | Fakultas Informatika</title>

  <!-- Additional CSS Files -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/bootstrap.min.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/font-awesome.css') }}">
  <link rel="stylesheet" type="text/css"
    href="{{ url_for('static', filename='assets/css/templatemo-art-factory.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/owl-carousel.css') }}">

</head>

<body>

  <div id="preloader">
    <div class="jumper">
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>

  <header class="header-area header-sticky">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav class="main-nav">
            <a href="#" class="logo">
              <img style="max-width: 50%" class="mt-2 mb-5"
                src="{{ url_for('static', filename='assets/images/logo-fif.png') }}" alt="">
            </a>
            <ul class="nav">
              <li class="scroll-to-section"><a href="#welcome" class="active">Home</a></li>
              <li class="scroll-to-section"><a href="#about">About</a></li>
              <!-- <li class="scroll-to-section"><a href="#services">Inovasi</a></li> -->
              <li class="scroll-to-section"><a href="#inovasi">Inovasi</a></li>
            </ul>
            <a class='menu-trigger'>
              <span>Menu</span>
            </a>
          </nav>
        </div>
      </div>
    </div>
  </header>

  <div class="welcome-area" id="welcome">
    <div class="header-text">
      <div class="container">
        <div class="row">
          <div class="left-text col-lg-6 col-md-6 col-sm-12 col-xs-12"
            data-scroll-reveal="enter left move 30px over 0.6s after 0.4s">
            <h1>Website Inovasi</h1>
            <h2 class="text-white">Fakultas Informatika</h2>
            <hr>
            <p>Selamat datang di Website Inovasi Fakultas Informatika. Silahkan scroll untuk melanjutkan!</p>
            <a href="#about" class="main-button-slider">About</a>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12"
            data-scroll-reveal="enter right move 30px over 0.6s after 0.4s">
            <img src="{{ url_for('static', filename='assets/images/spaceship-1.png') }}"
              class="rounded img-fluid d-block mx-auto" alt="First Vector Graphic">
          </div>
        </div>
      </div>
    </div>
  </div>

  <section class="section m-5" id="about">
    <div class="container">
      <div class="row">
        <div class="col-lg-7 col-md-12 col-sm-12" data-scroll-reveal="enter left move 30px over 0.6s after 0.4s">
          <img src="{{ url_for('static', filename='assets/images/left-image.png') }}"
            class="rounded img-fluid d-block mx-auto" alt="App">
        </div>
        <div class="right-text col-lg-5 col-md-12 col-sm-12 mobile-top-fix">
          <div class="left-heading">
            <h5>Apa itu website Inovasi?</h5>
          </div>
          <div class="left-text">
            <p>Website Inovasi di Fakultas Informatika berfungsi sebagai platform untuk mengumpulkan dan menampilkan
              berbagai proyek inovatif dari para mahasiswa, dosen maupun staf akademik. Tujuan utama dari website ini
              adalah untuk mempromosikan, dan menginspirasi semangat inovasi di kalangan anggota akademik,
              serta ikut terlibat dalam perjalanan penemuan ilmiah yang menarik. <br><br>Melalui cerita
              dan laporan proyek inovatif, website ini berfungsi sebagai sarana yang mendukung
              pertumbuhan kreativitas civitas Fakultas Informatika</p>
            <!-- <a href="#about2" class="main-button">Discover More</a> -->
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <div class="hr"></div>
        </div>
      </div>
    </div>
  </section>

  <!-- <section class="section" id="services">
    <div class="container d-flex justify-content-center">
      <div class="row">
        <div class="col-sm">
          <div class="card" style="width: 30rem;">
            <img class="card-img-top" src="{{ url_for('static', filename='assets/images/inovasi_dosen.png') }}"
              alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Daftar Inovasi dosen Fakultas Informatika</h5>
              <p class="card-text">intro</p>
              <a href="#" class="btn btn-primary">Daftar Inovasi</a>
            </div>
          </div>
        </div>
        <div class="col-sm">
          <div class="card" style="width: 30rem;">
            <img class="card-img-top" src="{{ url_for('static', filename='assets/images/inovasi_mhs.png') }}"
              alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Daftar Tugas Akhir mahasiswa yang ada di website Inovasi FIF</h5>
              <p class="card-text">intro</p>
              <a href="#" class="btn btn-primary">Daftar Inovasi</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section> -->

  <div id="inovasi"></div>
  <section class="section m-5" id="inovasi">
    {% block content %}{% endblock %}
  </section>

  <footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-7 col-md-12 col-sm-12">
          <p class="h1">Contact Us</p>
          <p class="copyright">
            Telkom University Landmark Tower (TULT) <br>
            Jl. Telekomunikasi No. 1
            Terusan Buahbatu, Bojongsoang <br>
            Bandung 40257, Indonesia <br>
            Tel: (022) 7565931 <br>
            Email: sekpimsoc@telkomuniversity.ac.id
          </p>
          <br>
          <p class="copyright">Copyright &copy; 2023
            <a href="https://soc.telkomuniversity.ac.id" target="_blank">Fakultas Informatika | Telkom University</a>
          </p>
        </div>
        <div class="col-lg-5 col-md-12 col-sm-12">
          <ul class="social">
            <!-- <li><a href="https://www.facebook.com/telkomuniversity"><i class="fa fa-facebook"></i></a></li> -->
            <li><a href="https://www.youtube.com/user/soctelkomuniv"><i class="fa fa-youtube"></i></a></li>
            <li><a href="https://www.linkedin.com/company/fakultas-informatika-telkom-university/?viewAsMember=true"><i
                  class="fa fa-linkedin"></i></a></li>
            <!-- <li><a href="#"><i class="fa fa-rss"></i></a></li> -->
            <li><a href="https://www.instagram.com/informatika.telkomuniversity/"><i class="fa fa-instagram"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>

  <!-- jQuery -->
  <script src="{{ url_for('static', filename='assets/js/jquery-2.1.0.min.js') }}"></script>

  <!-- Bootstrap -->
  <script src="{{ url_for('static', filename='assets/js/popper.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/js/bootstrap.min.js') }}"></script>

  <!-- Plugins -->
  <script src="{{ url_for('static', filename='assets/js/owl-carousel.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/js/scrollreveal.min.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/js/waypoints.min.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/js/jquery.counterup.min.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/js/imgfix.min.js') }}"></script>

  <!-- Global Init -->
  <script src="{{ url_for('static', filename='assets/js/custom.js') }}"></script>

</body>

</html>